<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo.name}}</h1>
            <div>
                <p>
                    <a href="{% url 'list_todos' %}">Return To All Lists</a> 
                </p>
                <p>
                    <a href="{% url 'update_todolist' todo.id %}">Edit</a> 
                    {% comment %} need to have id in link to edit so it knows which one {% endcomment %}
                </p>
                <p>
                    <a href="{% url 'delete_todolist' todo.id %}">Delete</a> 
                </p>
            </div>
            <h2>Tasks</h2>
        </div>
        <table>
            <thead>
                <th>Task Name</th>
                <th>Due date</th>
            </thead>
            <tbody>
                {% for thing in todo.items.all%}               
                <tr>
                    <td>
                        <a href="{% url 'update_todoitem' thing.id %}">{{thing.task}}</a>
                    </td>
                    <td>{{thing.due_date}}</td>
                </tr> 
                {% endfor %}       
            </tbody> 
        </table>
    </main>
</body>
</html>